@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

a {
  text-decoration: none;
}

h2 {
  color: blue;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 2px solid black;
  align-items: center;
}

.Navbar-links{
  display: flex;
  justify-content: space-around;
  align-self: center;
}
.nav a{
  color: black;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
}
.nav a:hover{
  color: rgb(147, 13, 13);
}

button{
  height: 35px;
  width: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
}


/* Home componant */
 
.home-section{
  margin: 0 100px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.blog-preview{
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.blog-preview:hover{
  background-color: rgba(56, 45, 92, 0.445);
}
.blog-preview h3{
  margin: 0;
  color: darksalmon;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}